.hero {
  padding-top: 38px;
  max-width: 1110px;
  margin-inline: auto;
}

@media screen and (min-width: 662px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 310px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 110px;
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    grid-template-columns: 457px 1fr;
    column-gap: 130px;
    margin-top: 170px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 28px;
}

.img_container img {
  pointer-events: none;
}

@media screen and (max-width: 661px) {
  .img_container img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 662px) {
  .img_container {
    display: flex;
    align-items: flex-end;
    height: 490px;
    margin-left: -40px;
    margin-bottom: -50px;
  }
}

@media screen and (min-width: 1000px) {
  .heading {
    gap: 29px;
  }

  .heading button {
    margin-top: 11px;
  }

  .img_container {
    margin-left: 0;
    margin-bottom: -100px;
  }
}
