.heading {
    padding-inline: 28px;
    padding-block: 24px 32px;
    color: var(--clr-white);
    background: var(--gradient-light);
    border-radius: 10px;
}

.card_grid {
    display: grid;
    row-gap: 40px;
    margin-block: 40px
}