#root {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(to bottom, var(--clr-white), #F0F2FF);
}

header,
main {
  width: 100%;
  padding-inline: 16px;
}

@media screen and (min-width: 500px) {
  header,
  main {
    padding-inline: 40px;
  }
}
